{% extends "user_layout.html" %}
{% block content %}
<div class="container mt-4">
    <h4 class="center">Book the Parking Spot</h4>
    <form method="POST" action="{{ url_for('reserve_lot',lot_id=lot.id, email=email) }}">
        <div class="mb-3">
            <label for="spot_id">Spot ID:</label>
            <input type="text" class="form-control" id="spot_id" name="spot_id" value="{{ spot.id }}" readonly>
        </div>
        <div class="mb-3">
            <label for="user_id" class="form-label">User ID:</label>
            <input type="text" class="form-control" id="user_id" name="user_id" value="{{ user.id }}" readonly>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price Per Hour:</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ lot.price }}" readonly>
        </div>
        <div class="mb-3">
            <label for="vehicle_no" class="form-label">Vehicle Number:</label>
            <input type="text" class="form-control" id="vehicle_no" name="vehicle_no" required>
        </div>
        <button type="submit" class="btn btn-outline-success">Reserve</button>
        <a href="{{ url_for('user_dash', email=user.email) }}" class="btn btn-secondary">Cancel</a>

    </form>
</div>
{% endblock %}