<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home - ParkC;</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="bg-img">
        <div class="home-container text-center">
        <!-- Logo image -->
        <img class="Home-ParkC" src="{{ url_for('static' , filename='/images/PARKC;.png') }}" alt="ParkC Logo" >
        <h4>Hey, Welcome to ParkC;<br>Let's start your parking space journey!</h4><br>

        <!-- Buttons -->
        <a href="/login" class="btn btn-lg btn-info">Login</a>
        <a href="/register" class="btn btn-lg btn-outline-dark">Signup</a>
    </div>
</body>


</html>