{% extends "user_layout.html" %}
{% block content %}

<!-- flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
  <h5>{{ message }}</h5>
</div>
{% endfor %}
{% endif %}
{% endwith %}


{% if not s_txt %}
<div class="container mb-5">
   <h1 class="center">Welcome, {{user.fullname}} ! </h1>
  <div class="section-title">Recent Parking History</div>
{% if reservations %}
  <table class="table table-bordered table-striped text-center">
    <thead class="table-info">
      <tr>
        <th>ID</th>
        <th>Lot Name</th>
        <th>Address</th>
        <th>Pin Code</th>
        <th>Vehicle No</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reservations %}
      <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.spot.lot.prime_location_name }}</td>
        <td>{{ r.spot.lot.address}}</td>
        <td>{{ r.spot.lot.pin_code}}</td>
        <td>{{ r.vehicle_no }}</td>
        <td>{{ r.parking_timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
        <td>
          {% if not r.leaving_timestamp %} <!-- the user hasn't released the spot -->
          <a href="{{ url_for('release_lot', email=user.email, res_id=r.id) }}"
            class="btn btn-outline-danger">Release</a>
          {% else %}
          <span class="badge btn-success">Parked Out</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="w-100 text-center mt-5">
  <h4 class="text-danger">No recent parking history!</h4><br>
</div>
{% endif %}
{% endif %}



<div class="container mb-5">
  <h5 class="section-title">Parking Lots {{ s_txt }}</h5>
  {% if parkinglots %}
  <table class="table table-bordered table-striped text-center">
    <thead class="table-info">
      <tr>
        <th>ID</th>
        <th>Lot Name</th>
        <th>Address</th>
        <th>Pin Code</th>
        <th>Available</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for lot in parkinglots %}
      <tr>
        <td>{{ lot.id }}</td>
        <td>{{ lot.prime_location_name }}</td>
        <td>{{ lot.address }}</td>
        <td>{{ lot.pin_code }}</td>
        <td>{{ lot.available_spots }}</td>
        <td>
          <a href="{{ url_for('reserve_lot', email=user.email, lot_id=lot.id) }}" class="btn btn-primary">Book</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="w-100 text-center mt-5">
  <h4 class="text-danger">No parking lots found!</h4>
</div>
{% endif %}
{% endblock %}