{% extends "admin_layout.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Registered Users</h2>

    <table class="table table-bordered table-striped text-center">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Pin Code</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>  <!-- auto-increment serial -->
                <td>{{ user.email }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.pin_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <div class="text-center">
        <a href="{{ url_for('admin_dashboard', email=email) }}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
</div>

{% endblock %}
