<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.fullname}}'s Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center w-100">
            <img class="ParkC" src="{{ url_for('static' , filename='/images/PARKC;.png') }}" alt="ParkC;">
            <ul class="navbar-nav flex-row nav-center gap-4">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user_dash', email=user.email) }}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                        href="{{ url_for('summary_user', email=user.email) }}">Summary</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="{{ url_for('update_user_profile', id=user.id, email=user.email) }}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user_pay', email=user.email) }}">Payments</a>
                </li>

                <li class="nav-item">
                    <form method="POST" action="{{ url_for('user_search', email=user.email) }}"
                        class="d-flex align-items-center">
                        <select class="form-select me-2" name="s_type" style="width: auto;" >
                            <option value="" disabled selected>Search by</option>
                            <option value="address">Address</option>
                            <option value="pin_code">PinCode</option>
                            <option value="lot_name">Name of Lot</option>
                        </select>
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="s_txt" id="s_txt">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </form>
                </li>
            </ul>
            <a type="submit" class="btn btn-outline-light" href="/login">Logout</a>

        </div>
    </nav>
    {%block content%}
    <!-- This is from child table  -->
    {%endblock%}

</body>

</html>