* {
    margin: 0px;
}
/*For Home Page */
.bg-image {
        
            background-image: url('/static/styles/images/motor-vehicle-urban-area-street-vehicle-town-mode-of-transport-1560595-pxhere.com.jpg'); 
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Segoe UI', sans-serif;
        }

        .welcome-container {
            background-color: rgba(255, 255, 255, 0.85);
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        .welcome-container h1 {
            font-size: 2.5rem;
            /* color: #0d6efd; */
            color: rgb(17, 34, 79);
            margin-bottom: 20px;
        }

        .welcome-container p {
            font-size: 1.1rem;
            margin-bottom: 25px;
            color: #333;
        }

        .btn-primary {
            padding: 10px 25px;
            font-size: 1rem;
        }
    

.h1 {
    /* for body- login, signup */
    background-image: url("images/motor-vehicle-urban-area-street-vehicle-town-mode-of-transport-1560595-pxhere.com.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} 

 .head {
    text-align: center;
    margin: 30px;
    height: 250px;
    color: rgb(255, 255, 255);
} 

.form-body {
    border: 1px solid rgb(218, 228, 233);
    background-color: rgb(249 253 255);
    width: 500px;
    height: auto;
    margin: 180px;
    margin-top: 150px;
    padding: 40px;
    border-radius: 12px;
    font-size: 18px;
    text-align: justify;
} 

.center {
    text-align: center;
    margin: 12px;
    color: rgb(17, 34, 79);
}


/* Styling for Admin Dashboard */
body {
    padding: 20px;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #d5dfff;
    border-radius: 5px; 
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.nav-item{
    color:rgb(255, 255, 255) 
}

.navbar-text {
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    font-weight: bold;
}

.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.edit-profile {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.section-title {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0 20px;
    border: 2px solid #136dce;
    border-radius: 15px;
    padding: 10px;
    color: #082383;
    font-weight: bold;
}

.parking-lot {
    border: 1px solid #007bff;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    background-color: white;
}

.lot-title {
    font-weight: bold;
    font-size: 1.1rem;
}
.lot-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b727b;
    font-size: 1rem;
}

.slot {
    width: 36px;
    height: 36px;
    border: 2px solid #62a0e3;
    margin: 4px;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    font-weight: bold;
}


.spot-grid {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    gap: 6px;
}

.spot-box {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}


.available {
    background-color: #94e998;
    color: #0b4844;
}

.occupied {
    background-color: #e58f96;
    color: #781a23;
}

   
/* Styling for User Dashboard */
.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.history-table,
.result-table {
    border: 2px solid #8997a7;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.search-label {
    color: rgb(55, 50, 50);
    font-weight: bold;
    margin-top: 30px;
}

.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Error message if login or signup fails */
.error{
    text-align: center;
    margin: auto;
    color: rgb(169, 8, 29);
}
/* Sucess message if login or signup done */
.success{
    text-align: center;
    margin: 12px;
    color: rgb(8, 161, 13) ;
}

